<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/citylist.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
          <!-- Brand Name -->
          <a class="navbar-brand" href="/">Echoes of INDIA</a>
    
          <!-- Navigation Links -->
          <div class="navbar-right">
            <a class="nav-link" href="/citylist">Explore</a>
            <a class="nav-link" href="/chatbot">Chatbot</a>
            <a class="nav-link" href="/login">Login</a>
    
            <!-- Search Bar -->
            <form class="search-form">
              <input type="text" class="search-input" placeholder="Search">
              <button class="search-button" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <div class="cityimage">
        <div class="box">
       <h1>Places To Visit</h1>
       </div>
    </div>
<div class="list">
     <div class="cards" style="display: flex; justify-content: center; gap: 100px;">
        <div class="card"><img src="/static/images/citylist/image.png"/>
            <div class="info">
                <h1>Indore</h1>
<p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
          <button><a href="/city/indore">Read More</a></button>
        </div>   
 </div>
 <div class="cards" style="display: flex; justify-content: center; gap: 100px;"></div>
    <div class="card"><img src="/static/images/citylist/shimla.png"/>
        <div class="info">
          <h1>Shimla</h1>
          <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
          <button><a href="/city/shimla">Read More</a></button>
        </div>   
 </div></div>

 <div class="list" style="margin-top: 70px;">
    <div class="cards" style="display: flex; justify-content: center; gap: 100px;">
       <div class="card"><img src="/static/images/citylist/delhi.png"/>
           <div class="info">
               <h1>Delhi</h1>
<p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
         <button><a href="/city/delhi">Read More</a></button>
       </div>   
</div>
<div class="cards" style="display: flex; justify-content: center; gap: 100px;"></div>
   <div class="card"><img src="/static/images/citylist/bangalore.png"/>
       <div class="info">
         <h1>Banglore</h1>
         <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
         <button><a href="/city/bangalore">Read More</a></button>
       </div>   
</div></div>

<div class="list" style="margin-top: 70px;">
    <div class="cards" style="display: flex; justify-content: center; gap: 100px;">
       <div class="card"><img src="/static/images/citylist/mathura.png"/>
           <div class="info">
               <h1>Mathura</h1>
<p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
         <button><a href="/city/mathura">Read More</a></button>
       </div>   
</div>
<div class="cards" style="display: flex; justify-content: center; gap: 100px;"></div>
   <div class="card"><img src="/static/images/citylist/jaipur.png"/>
       <div class="info">
         <h1>Jaipur</h1>
         <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
         <button><a href="/city/jaipur">Read More</a></button>
       </div>   
</div></div>

<div class="list" style="margin-top: 70px;">
    <div class="cards" style="display: flex; justify-content: center; gap: 100px;">
       <div class="card"><img src="/static/images/citylist/rishikesh.png"/>
           <div class="info">
               <h1>Rishikesh</h1>
<p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
         <button><a href="/city/rishikesh">Read More</a></button>
       </div>   
</div>
<div class="cards" style="display: flex; justify-content: center; gap: 100px;"></div>
   <div class="card"><img src="/static/images/citylist/amritsar.png"/>
       <div class="info">
         <h1>Amritsar</h1>
         <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
         <button><a href="/city/amritsar">Read More</a></button>
       </div>   
</div></div>
<div class="list" style="margin-top: 70px;">
    <div class="cards" style="display: flex; justify-content: center; gap: 100px;">
       <div class="card"><img src="/static/images/citylist/ahemdabad.png"/>
           <div class="info">
               <h1>Ahmedabad</h1>
<p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
         <button><a href="/city/ahemdabad">Read More</a></button>
       </div>   
</div>
<div class="cards" style="display: flex; justify-content: center; gap: 100px;"></div>
   <div class="card"><img src="/static/images/citylist/chennai.png"/>
       <div class="info">
         <h1>Chennai</h1>
         <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
         <button><a href="/city/chennai">Read More</a></button>
       </div>   
</div></div>
   

   
        
</body>
</html>