body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h3 {
  font-size: 2.5rem;
  color:#8D1022;
}

  
  /* Navbar container */
.navbar {
    position: absolute;
    background-color: #f8f9fa;
    padding: 2rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 80%;
    width: 95.8vw;
}
  
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  /* Brand Name */
.navbar-brand {
    font-size: 1.9rem;
    font-weight: bold;
    color: #8D1022;
    text-decoration: none;
}
  
  /* Navigation links */
.navbar-right {
    display: flex;
    align-items: center;
}
  
.nav-link {
    margin-left: 5rem;
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
}
  
.nav-link:hover {
    color: #007bff;
}
  
  /* Search Form */
.search-form {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}
  
.search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;
}
  
.search-button {
    padding: 0.5rem 1rem;
    background-color: #8D1022;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.search-button:hover {
    background-color: #b80923;
}
.heading{
    padding-top: 150px;
    padding-left:50px;
    padding-bottom: 50px;
}
.box{
    width:1000px;
    height:400px;
    background-color: #e1e1e1;
    border-radius:15px;
    margin-left:50px;
}
.text{
    color: #8D1022;
    font-size: 24px;
    padding-top: 40px;
    padding-left:20px;
}
.second{
    padding:50px;
}
.card {
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #fff;
    transition: 0.3s;
}
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
    display: block;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .card-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .card-content h4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .card-content p {
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }
  
  .button {
   
    padding: 10px;
    background-color:#8D1022;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    
  }
  .card-content a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button:hover {
    background-color: #8D1022;
  }
  .cards{
    display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .review{
    width: 1100px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .review {
    padding: 20px;
  }
  
  .review h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
   
  }
  .review h4{
    color:#8D1022;
  }
  
  .review p {
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
  }
  .reviews{
    display:block;
    margin-left:50px;
 
  }
